/* font-family: 'Dosis', sans-serif;
font-family: 'Roboto', sans-serif; */

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 100%;
    overflow-x: hidden;
    color: black;
    font-weight: 400;
}
p{
    font-size: 16px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    line-height: 150%; 
}
.primary-btn{
    padding: 20px 40px;
    background: linear-gradient(45deg,#FA994C,#FE492E);
    text-align: center;
    text-decoration: none;
    border-radius: 30px;
    color: white;
    font-weight: 400;
    display: inline-block;
    box-shadow: 0 0 8px #FE492E;
    text-transform: uppercase;
}
h1{
    font-size: 50px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 50px;
    line-height: 150%;
    text-transform: capitalize;
}
h2{
    font-size: 40px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 40px;
    line-height: 150%;
    text-transform: capitalize;
}
section{
    padding: 50px 0px;
}
/*---------------order-top-------------*/
#order-top{
    display: flex;
    align-items: center;
    background: white;
}
#order-top .order-top-left h1{
    color: #575757;
}
#order-top .order-top-left{
    width: 40%;
    margin: 0 5%;
    padding: 0 25px;
}
#order-top .order-top-left h1 span{
    color: #FB8A47;
}
#order-top .order-top-left p{
    font-size: 20px;
    color: #969696;
    margin-bottom: 50px;
}
#order-top .order-top-right{
    width: 40%;
    padding: 0 5%;
}
#order-top .order-top-right img{
    width: 100%;
}
/*---------------about-me-------------*/
#about-me{
    display: flex;
    align-items: center;
    background-image: url(../images/inner-image/top-2-bg.png);
    background-position: right;
    background-repeat: no-repeat;
}
#about-me .about-me-left{
    width: 40%;
    padding-left: 10%;
}
#about-me .about-me-left img{
    width: 60%;
}
#about-me .about-me-right{
    width: 40%;
    padding-right: 10%;
}
#about-me .about-me-right h2{
    color: #707070;
}
#about-me .about-me-right p{
    font-size: 18px;
    line-height: 170%;
    color: #18191F;
    margin-bottom: 40px;
    letter-spacing: 0.25px;
}
/*---------------my-recipes-------------*/
#my-recipes{
    background: white;
}
#my-recipes .section-title{
    text-align: center;
}
#my-recipes .section-title h2{
    color: #707070;
}
#my-recipes .section-title p{
    font-size: 17px;
    line-height: 150%;
    margin-bottom: 40px;
    color: #18191F;
    letter-spacing: 0.25px;
}
#my-recipes .my-recipes-inner{
    display: flex;
    margin: 0 5%;
}
#my-recipes .my-recipes-inner .recipe-1{
    width: 33.333%;
    margin: 0 2%;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 0 15px grey;
    padding: 20px;
}
#my-recipes .my-recipes-inner .recipe-1 img{
    width: 100%;
    border-radius: 0px;
}
#my-recipes .my-recipes-inner .recipe-1 h4{
    font-size: 26px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: #18191F;
}
#my-recipes .my-recipes-inner .recipe-1 p{
    font-size: 17px;
    line-height: 175%;
    font-weight: 500;
    color: #18191F;
    letter-spacing: 0.25px;
}
/*---------------free-recipes-------------*/
#free-recipes{
    display: flex;
    align-items: center;
    background: white;
}
#free-recipes .free-recipes-left{
    width: 50%;
    padding: 0 0 0 7%;
}
#free-recipes .free-recipes-left img{
    width: 100%;
}
#free-recipes .free-recipes-right{
    width: 50%;
    padding: 0 15%;
}
#free-recipes .free-recipes-right h2{
    font-size: 20px;
    font-weight: 700;
    color: grey;
    text-transform: capitalize;
    text-align: center;
    letter-spacing: 0.25px
}
#free-recipes .free-recipes-right input{
    width: 96%;
    display: block;
    margin-bottom: 3%;
    padding: 30px 10px;
    background-color: #E5E5E5;
    border-radius: 5px;
    border: transparent;
}
#free-recipes .free-recipes-right ::placeholder{
    color: white;
    font-size: 18px;
    opacity: 1;
}
#free-recipes .free-recipes-right a button{
    width: 100%;
    padding: 20px 0;
    border-radius: 50px;
    background: linear-gradient(45deg,#FA994C,#FE492E);
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    border: none;
    margin-bottom: 20px;
    color: white;
    cursor: pointer;
}
#free-recipes .free-recipes-right button a{
    color: white;
    text-decoration: none;
}
#free-recipes .free-recipes-right span a{
    text-decoration: none;
    display: block;
    text-align: center;
    color: grey;
    font-size: 20px;
}
/*---------------counter-------------*/
#counter{
    display: flex;
    margin: 0 5%;
    padding-bottom: 100px;
    background: white;
}
#counter .counter-item-1{
    width: 33.333%;
    text-align: center;
    background: white;
    margin: 0 2%;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 15px gray;
}
#counter .counter-item-1 h2{
    margin: 0%;
}
#counter .counter-item-1 span{
    display: block;
    font-size: 16px;
    color: gray;
}
/*---------------footer-area-------------*/
#footer-area{
    padding: 50px 0 100px 0;
    background: #0B0D17;
}
#footer-area .footer-area-inner{
    text-align: center;
}
#footer-area .footer-area-inner h4{
    color: gray;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    margin: 0 0 3% 0;
}
#footer-area .footer-area-inner span{
    color: #FB8A47;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
}
#footer-area .footer-area-inner p{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.25px;
    color: #FFFFFF;
    font-weight: 400;
}
